  
 .container {
    background-color:#7094db;
   }
   .title {
    font-size:20px;
    color: black;
}
.submitbtn{
    color: black;
}
.row{
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.card{
    margin-top: 10px;
}
.htl{
    color:white;
    
}